<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Hands on</h1>



        <!--Loop-->
        <ul>

            <% for(let i=1 ; i<6 ; i++){ %>
                <li> 
                    <%= i %>
                </li>
            <% } %>
        </ul>

        <!--Conditional Statement-->
        <% if(true){ %>
            <h1>Its true !!</h1>
        <% } else { %>
            <p>Its false</p>
        <% } %>

    </body>
</html>