<!--Here i can display all the contacts-->
<html>
    <head>
        <title>
            <%= locals.title %>
            <!--Will be filled by controller-->
        </title>
    </head>
    <body>
        <div>
            <form action="/create-contact" method ="POST">
                <input type ="text" name="name" placeholder="Enter Name" required>
                <input type ="number" name="phone" placeholder="Enter Phone" required>
                <button type = "submit">Add Contact</button>
            </form>
        </div>
    </body>
</html>